<div class="marvel-navbar">
  <img src="../../../../assets/images/logo.svg" alt="Marvel Logo" height="100" width="100">
  
  <nav>
    <div class="navbar-toggler" (click)="showNavbar()">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <ul class="nav-items">
      <li routerLinkActive="active">
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="characters">Characters</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="comics">Comics</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="series">Series</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="creators">Creators</a>
      </li>
    </ul>
  </nav>

