.marvel-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background: #232323;
  nav {
    .navbar-toggler {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      transition: color .3s ease-in;
      display: none;
      &:hover {
        color: rgb(132, 32, 226);
      }
      @media (max-width: 1000px) {
        display: initial;
        align-self: flex-end;
        cursor: pointer;
      }
    }
    .nav-items {
      display: flex;
      li {
        display: inline-block;
        list-style: none;
        padding: 0 10px;
        a {
          text-decoration: none;
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: rgb(255, 255, 255);
          transition: color .3s ease-in;
          &:hover {
            color: rgb(132, 32, 226);
          }
        }
      }
      @media (max-width: 1000px) {
        display: none;
        .marvel-navbar {
          flex-direction: column;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    padding: 0 40px;
    .navbar-toggle-show {
      display: flex;
    }
  } 
}



