<section id="detail-section" *ngIf="creator">
  <div class="city-banner"></div>
  
  <div class="container detail">
    <div class="profile-section">
      <img src="{{ creator.thumbnail.path }}.{{creator.thumbnail.extension }}" 
      alt="{{ creator.firstName }}" class="profile-picture">

      <h1 class="profile-heading">{{ creator.firstName }} {{ creator.lastName }}</h1>
    </div>
    <div class="description">
      <h2>Description:</h2>
      <div class="description-section">
        <p>{{ creator.firstName || 'No first name available' }}</p>
        <p>{{ creator.middleName || 'No middle name available' }}</p>
        <p>{{ creator.lastName || 'No last name available' }}</p>
      </div>

      <h2>Comics: </h2>
      <div class="cards">
        <div class="card" 
          *ngFor="let comic of comics; let i = index;" [routerLink]="['/comic', comic.id]">
          
          <img 
          src="{{ comic['thumbnail'].path }}.{{ comic['thumbnail'].extension }}" alt="{{ comic.title }}" class="card-img-top">
          
          <div class="card-body">
            <h1 class="card-title">
              {{ comic.title }}
            </h1>
            <p><strong>Price: </strong>
              {{ comic.prices[0].price || 'No price available' }}
            </p>
          </div>
          
        </div>
      </div>
      <hr>
      <h2>Series: </h2>
      <div class="cards">
        <div class="card" *ngFor="let serie of series" [routerLink]="['/serie', serie.id]">
          <a class="card">
            <img 
            src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="{{serie.title}}" class="card-img-top">
            <div class="card-body">
              <h1 class="card-title">{{ serie.title }}</h1>
              <p><strong>Start year: </strong>{{serie.startYear}}</p>
              <p><strong>End year: </strong>{{serie.endYear}}</p>
              <p><strong>Rating: </strong>{{serie.rating}}</p>
              <p><strong>Creator role: </strong> {{this.creatorRole[0].role }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</section>
